#deposit_wrapper{
    text-align: center;
    font-size: 25px;
    background-color:  rgb(202, 240, 255);
}
#deposit_wrapper >div> input{
    margin: 10px;
    text-align: center;
    font-size: 20px;
    height: 40px;
}
#btn_wrapper{
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    /* background-color: black; */
    width: 250px;
    height: 350px;
}
#btn_wrapper > button{
    font-weight: bold;
    border: 2px solid black;
}
#btn_del{
    color: red;
}
#btn_ent{
    grid-column: 1/4;
    color: green;
}
#back_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#back{
    grid-column: 4/5;
    grid-row: 3/4;
    width: 100px;
    height: 60px;
    color: white;
    background-color: tomato;
    border: 3px solid orangered;
    border-radius: 4px;
    font-size: 25px;
}
#back:active{
    background-color: black;
}