h1{
    font-size: xxx-large;
    font-family: cursive,sans-serif,monospace;
    color: rgb(20%,30%,70%);
    text-align: right;
    text-transform: capitalize;
    text-shadow: 5px 5px 5px gray;
}

p{
    word-wrap: break-word;
}